<app-overlay-image>Akreditacija</app-overlay-image>

<div
  class="akreditacija relative container mx-auto m-5 p-4 lg:p-10 lg:p-16 shadow-2xl  font-normal"
  style="color:#5e709d;background: rgb(235, 244, 253);
       background: linear-gradient(190deg,rgba(235, 244, 253, 1) 0%,rgba(255, 255, 255, 0) 45%);
       border-right: 13px solid #42b983; border-radius: 20px;">

  <mat-accordion>

    <mat-expansion-panel>
      <mat-expansion-panel-header collapsedHeight="80px" expandedHeight="80px">
        <mat-panel-title style="color:#5e709d !important;font-family: 'Poppins', sans-serif;">
          <h1 class="font-bold text-sm md:text-base lg:text-lg">Akreditacija po zakonu o visokom obrazovanju</h1>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="w-full font-poppins" style="color:#5e709d !important;">

        <p class="flex flex-row items-center py-4 px-2">
          <mat-icon class="pr-10">text_snippet</mat-icon>
          <a target="_blank"
             href="/assets/o-nama/akreditacija/akreditacija_po_zakonu_o_visokom_obrazovanju/Dozvola-za-rad-2017._0004.pdf"
          >
            Dozvola za rad br. 612-00-03186/2016-06 od 25.04.2017. godine
          </a>
        </p>

        <div class="nice"></div>

        <p class="flex flex-row items-center py-4 px-2">
          <mat-icon class="pr-10">text_snippet</mat-icon>
          <a target="_blank"
             href="/assets/o-nama/akreditacija/akreditacija_po_zakonu_o_visokom_obrazovanju/Uverenje-o-akreditaciji-2017._0001.pdf"
          >
            Uverenje o akreditaciji br. 612-00-01012/2016-06 od 24.03.2017. godine
          </a>
        </p>

        <div class="nice"></div>

        <p class="flex flex-row items-center py-4 px-2">
          <mat-icon class="pr-10">text_snippet</mat-icon>
          <a target="_blank"
             href="/assets/o-nama/akreditacija/akreditacija_po_zakonu_o_visokom_obrazovanju/Odluka-o-akreditaciji-2017._0006.pdf"
          >
            Odluka o akreditaciji br. 612-00-01012/2016-06 od 24.03.2017. godine
          </a>
        </p>

        <div class="nice"></div>

        <p class="flex flex-row items-center py-4 px-2">
          <mat-icon class="pr-10">text_snippet</mat-icon>
          <a target="_blank"
             href="/assets/o-nama/akreditacija/akreditacija_po_zakonu_o_visokom_obrazovanju/dopuna-dozvole-2015.pdf"
          >
            Resenje o dopuni dozvole za rad br. 612-00-00085/2015-04 od 23.03.2015. godine
          </a>
        </p>

        <div class="nice"></div>

        <p class="flex flex-row items-center py-4 px-2">
          <mat-icon class="pr-10">text_snippet</mat-icon>
          <a target="_blank"
             href="/assets/o-nama/akreditacija/akreditacija_po_zakonu_o_visokom_obrazovanju/Dopuna-Dozvole.pdf"
          >
            Resenje o dopuni dozvole za rad br. 612-00-00351/2014-04 od 15.05.2014. godine
          </a>
        </p>

        <div class="nice"></div>

        <p class="flex flex-row items-center py-4 px-2">
          <mat-icon class="pr-10">text_snippet</mat-icon>
          <a target="_blank"
             href="/assets/o-nama/akreditacija/akreditacija_po_zakonu_o_visokom_obrazovanju/dozvola-za-rad.pdf"
          >
            Dozvola za rad br. 612-00-02011/2011-04 od 01.02.2012. godine
          </a>
        </p>

        <div class="nice"></div>

        <p class="flex flex-row items-center py-4 px-2">
          <mat-icon class="pr-10">text_snippet</mat-icon>
          <a target="_blank"
             href="/assets/o-nama/akreditacija/akreditacija_po_zakonu_o_visokom_obrazovanju/Uverenje-o-akreditaciji.pdf"
          >
            Uverenje o akreditaciji br. 612-00/2010-04 od 14.10.2011. godine
          </a>
        </p>

        <div class="nice"></div>

        <p class="flex flex-row items-center py-4 px-2">
          <mat-icon class="pr-10">text_snippet</mat-icon>
          <a target="_blank"
             href="/assets/o-nama/akreditacija/akreditacija_po_zakonu_o_visokom_obrazovanju/Odluka-o-akreditaciji21.pdf"
          >
            Odluka o akreditaciji br. 612-00/2010-04 od 14.10.2011. godine
          </a>
        </p>

      </div>

    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header collapsedHeight="80px" expandedHeight="80px">
        <mat-panel-title style="color:#5e709d !important;font-family: 'Poppins', sans-serif">
          <h1 class="font-bold text-sm md:text-base lg:text-lg">Akreditacija po zakonu o univerzitetu iz 2002. godine</h1>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="w-full font-poppins" style="color:#5e709d !important;">

        <p class="flex flex-row items-center py-4 px-2">
          <mat-icon class="pr-10">text_snippet</mat-icon>
          <a target="_blank"
             href="/assets/o-nama/akreditacija/akreditacija_po_zakonu_o_univerzitetu_iz_2002_godine/resenje-o-ispunjenosti-uslova-za-rad.pdf"
          >
            Resenje Ministarstva prosvete i sporta broj: 612-00-296/2004-04 od 07. jula 2005. godine kojim se utvrdjuje
            da
            Univerzitet „Union“ u Beogradu ispunjava uslove za pocetak rada i obavljanje delatnosti
          </a>
        </p>

        <div class="nice"></div>

        <p class="flex flex-row items-center py-4 px-2">
          <mat-icon class="pr-10">text_snippet</mat-icon>
          <a target="_blank"
             href="/assets/o-nama/akreditacija/akreditacija_po_zakonu_o_univerzitetu_iz_2002_godine/saglasnost-na-elaborat-o-opravdanosti-osnivanja.pdf"
          >
            Resenje Republickog saveta za razvoj univerzitetskog obrazovanja broj: 612-00-296/2004-04 od 13. juna 2005.
            godine kojim se daje saglasnost na Elaborat o opravdanosti osnivanja Univerziteta „Union“ u Beogradu
          </a>
        </p>

      </div>

    </mat-expansion-panel>

  </mat-accordion>

</div>
