<!--
  Ukratko
  Brosura univerziteta
  Informator o radu
  Rektor univerziteta
  Senat univerziteta
  Savet univerziteta
-->

<app-navigation>

  <div class="wrapper">

    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Ukratko"> Ukratko</mat-tab>
      <mat-tab label="Brosura univerziteta"> Brosura univerziteta</mat-tab>
      <mat-tab label="Informator o radu"> Informator o radu</mat-tab>
      <mat-tab label="Rektor univerziteta"> Rektor univerziteta</mat-tab>
      <mat-tab label="Senat univerziteta"> Senat univerziteta</mat-tab>
      <mat-tab label="Savet univerziteta"> Savet univerziteta</mat-tab>
    </mat-tab-group>

  </div>
</app-navigation>
