<app-overlay-image>Rektor Univerziteta</app-overlay-image>

<div
  class="relative container mx-auto flex flex-col lg:flex-row justify-center items-center text-left m-5 p-10 lg:p-16 shadow-2xl font-poppins font-normal"
  style="color:#5e709d;background: rgb(235, 244, 253);
       background: linear-gradient(190deg,rgba(235, 244, 253, 1) 0%,rgba(255, 255, 255, 0) 45%);
       border-right: 13px solid #42b983; border-radius: 20px;
       ">

  <img class="absolute top-0 left-0 w-16 lg:w-24" src="./assets/svg/triangle_dark_purple.svg" alt="">


  <img src="assets/o-nama/rektor_univerziteta/gordana_vukelic.jpg" alt="">

  <div class="m-5">
    <p class="m-1 p-1">
      <span class="font-bold text-xl text-purple-1000">Gordana Vukelic</span> u periodu od 1983 do 1991. godine izabrana
      je za asistenta
      pripravnika za predmet Teorija i analiza bilansa, Katedra teorije troskova, racunovodstva i finansija, Instituta
      za Agroekonomiju, Poljoprivredni fakultet, Univerziteta u Beogradu.
    </p>
    <p class="m-1 p-1">
      U saradnickom zvanju je bila do 1991. potom je birana od 1991. do 1997. godine za asistenta, a od 1997.do 2001.
      godine izabrana je za docenta.
    </p>
    <p class="m-1 p-1">
      Tokom 2001. godine birana je u zvanje vanrednog profesora, a 2007. godine za redovnog profesora na Katedri teorije
      troskova, racunovodstva i finansija, Instituta za Agroekonomiju, Poljoprivrednog fakulteta, Univerziteta u
      Beogradu.
    </p>
    <p class="m-1 p-1">
      Zaposlenjem 2008. godine prelazi na Beogradsku bankarsku akademiju, Fakultet za bankarstvo, osiguranje i finansije
      (uza naucna oblast Ekonomija i finansije), gde izvodi nastavu i obavlja sve ostale nastavne aktivnosti na osnovnim
      i master studijama.
    </p>
  </div>

</div>
