<app-navigation>

  <div class="wrapper min-h-screen ">

    <div class="mt-14 mb-7 lg:mt-14 lg:mb-10">
      <h1 class="text-blue-1000 text-center text-4xl font-extrabold">Kontaktirajte nas!</h1>
    </div>

    <hr>

    <div class="relative shadow-2xl px-4 lg:px-7 w-full lg:flex lg:row lg:flex-row">

      <div style="color:#5e709d" class="p-4 lg:p-7 lg:border-t-2 lg:border-blue-1000">

        <div class="text-center lg:text-left p-2">
          <span class="about_info font-bold">Adresa:</span><br>
          <div class="ml-3">
            <span>Kosancicev venac br. 2/5 Beograd</span>
          </div>
        </div>

        <div class="text-center lg:text-left p-2">
          <span class="font-bold">Telefoni:</span><br>
          <div class="ml-3">
            <span>Centrala: (011) 6304293</span><br>
            <span>Sekretarijat: (011) 2630654</span>
          </div>

        </div>

        <div class="text-center lg:text-left p-2">
          <span class="font-bold">E-mail:</span><br>
          <div class="ml-3">
            <span>rektor@union.edu.rs</span><br>
            <span>ekretarijat@union.edu.rs</span><br>
            <span>studentski.parlament@union.edu.rs</span>
          </div>

        </div>

        <div class="text-center lg:text-left p-2">
          <span class="font-bold">Maticni broj:</span><br>
          <div class="ml-3"><span>17604635</span></div>
        </div>

        <div class="text-center lg:text-left p-2">
          <span class="font-bold">PIB:</span><br>
          <div class="ml-3"><span>103914671</span></div>
        </div>

        <div class="text-center lg:text-left p-2">
          <span class="font-bold">Tekuci racun:</span><br>
          <div class="ml-3"><span>205-204289-67 kod Komercijalne banke A.D. Beograd</span></div>
        </div>

      </div>

      <hr>

      <div class="w-full px-2 py-4 lg:p-7">
        <div class="w-full h-96 lg:h-full" id="gmap" #gmap></div>
      </div>

    </div>

  </div>

</app-navigation>





