<mat-toolbar>
  <div class="lg:hidden logo_wrap">
    <a mat-icon-button (click)="onToggleSidenav()">
      <mat-icon class="logo">menu</mat-icon>
    </a>
  </div>
  <div class="hidden lg:block w-full header_list_wrap">
    <ul
      class="list-none font-poppins lg:flex lg:justify-center lg:items-center"
    >
      <a href="javascript:;">
        <img
          class="w-auto h-10 mr-6"
          src="/assets/svg/union.svg"
          alt="Racunarski fakultet"
        />
      </a>
      <li class="px-3 inline-block">
        <a
          class="nav_big_link"
          href="javascript:;"
        >Pocetna
          <div class="underline"></div>
        </a>
      </li>
<!--      <li class="px-3 inline-block">-->
<!--        &lt;!&ndash; O Univerzitetu -> Clanice, Akti, Akreditacija &ndash;&gt;-->
<!--        <a-->
<!--          class="nav_big_link"-->
<!--          href="javascript:;"-->
<!--        >O Univerzitetu-->
<!--          <div class="underline"></div>-->
<!--          <mat-icon>arrow_drop_down</mat-icon>-->
<!--        </a>-->
<!--      </li>-->
<!--      <li class="px-3 inline-block">-->
<!--        <a-->
<!--          class="nav_big_link"-->
<!--          href="javascript:;"-->
<!--        >Repozitorijum-->
<!--          <div class="underline"></div>-->
<!--        </a>-->
<!--      </li>-->
<!--      <li class="px-3 inline-block">-->
<!--        <a-->
<!--          class="nav_big_link"-->
<!--          href="javascript:;"-->
<!--        >Info-->
<!--          <div class="underline"></div>-->
<!--          <mat-icon>arrow_drop_down</mat-icon>-->
<!--        </a>-->
<!--      </li>-->
<!--      <li class="px-3 inline-block">-->
<!--        <a-->
<!--          class="nav_big_link"-->
<!--          href="javascript:;"-->
<!--        >Izbori u zvanje-->
<!--          <div class="underline"></div>-->
<!--          <mat-icon>arrow_drop_down</mat-icon>-->
<!--        </a>-->
<!--      </li>-->
<!--      <li class="px-3 inline-block">-->
<!--        <a-->
<!--          class="nav_big_link"-->
<!--          href="javascript:;"-->
<!--        >Saradnja-->
<!--          <div class="underline"></div>-->
<!--          <mat-icon>arrow_drop_down</mat-icon>-->
<!--        </a>-->
<!--      </li>-->
      <li class="px-3 inline-block">
        <a
          class="nav_big_link"
          href="javascript:;"
        >Kontakt
          <div class="underline"></div>
        </a>
      </li>
    </ul>


  </div>
</mat-toolbar>
