<app-navigation>

  <div class="wrapper h-full">

    <app-overlay-image>Clanice Univerziteta</app-overlay-image>

    <div class="container mx-auto">

      <div class="flex flex-row flex-wrap justify-center items-center relative shadow-2xl  z-10 mt-10"
           style="color:#5e709d;background: rgb(235, 244, 253);
       background: linear-gradient(190deg,rgba(235, 244, 253, 1) 0%,rgba(255, 255, 255, 0) 45%);
       border-right: 13px solid #42b983; border-radius: 20px;
       ">

        <a href="javascript:;" class="inline-block max-w-xs px-4 py-4 sm:px-8">
          <img
            class="w-auto"
            src="/assets/svg/bba.svg"
            alt="Beogradska bankarska akademija"
          />
        </a>
        <a href="javascript:;" class="inline-block max-w-xs px-4 py-8 sm:p-12">
          <img class="w-auto" src="/assets/svg/raf.svg" alt="Racunarski fakultet"/>
        </a>
        <a href="javascript:;" class="inline-block max-w-xs px-4 py-8 sm:p-12">
          <img
            class="w-auto"
            src="/assets/svg/lazar_vrkatic.svg"
            alt="Fakultet dr. Lazar Vrkatic"
          />
        </a>
        <a href="javascript:;" class="inline-block max-w-xs px-4 py-8 sm:p-12">
          <img
            class="w-auto"
            src="/assets/svg/pravni_fakultet.svg"
            alt="Pravni fakultet Univerziteta UNION"
          />
        </a>

      </div>

    </div>

    <app-footer [backgroundColor]='"#fff"' [textColor]='"#1c1b7e"' [nameColor]='"#8C4BFF"'
                [isLogoDark]="true"></app-footer>

  </div>

</app-navigation>
