<app-overlay-image>Senat i savet Univerziteta</app-overlay-image>

<div class="container mx-auto flex flex-col lg:flex-row justify-center m-5 p-5 shadow-2xl"
     style="border: 1px solid #ebebeb">

  <div class="m-1 p-1 italic">
    <h1 class="text-4xl m-3">Senat univerziteta</h1>
    <p class="pl-5 ">
      1. <span class="font-bold">Prof. dr Gordana Vukelic</span> - Univerzitet Union, rektor i predsednik Senata
    </p>
    <p class="pl-5 ">
      2. <span class="font-bold">Prof. dr Nebojsa Sarkic</span> - Pravni Fakultet Univerziteta Union, dekan
    </p>
    <p class="pl-5 ">
      3. <span class="font-bold">Prof. dr Stevan Milinkovic</span> - Racunarski fakultet, dekan
    </p>
    <p class="pl-5 ">
      4. <span class="font-bold">Prof. dr Dejan Eric</span> - Beogradska bankarska akademija - Fakultet za bankarstvo,
      osiguranje i
      finansije, dekan
    </p>
    <p class="pl-5 ">
      5. <span class="font-bold">Prof. dr Mirjana Francesko</span> - Fakultet za pravne i poslovne studide dr Lazar
      Vrkatic, dekan
    </p>
  </div>

  <div class="m-1 p-1 italic">
    <h1 class="text-4xl m-3">Savet univerziteta</h1>
    <p class="pl-5 ">
      1. <span class="font-bold">dr Slobodan Vukadinovic</span> - predsednik Saveta, Pravni fakultet Univerziteta Union
    </p>
    <p class="pl-5 ">
      2. <span class="font-bold">doc. dr Dusan Vujosevic</span> - zamenik predsednika Saveta, Racunarski fakultet
    </p>
    <p class="pl-5 ">
      3. <span class="font-bold">prof. dr Jelena Jerinic</span> - Pravni fakultet Univerziteta Union
    </p>
    <p class="pl-5 ">
      4. <span class="font-bold">Goran Celic</span> - Pravni fakultet Univerziteta Union
    </p>
    <p class="pl-5 ">
      5. <span class="font-bold">Ivana Ilic</span> - Pravni fakultet Univerziteta Union
    </p>
    <p class="pl-5 ">
      6. <span class="font-bold">Suzana Obradovic</span> - Pravni fakultet Univerziteta Union
    </p>
    <p class="pl-5 ">
      7. <span class="font-bold">prof. dr Branko Zivanovic</span> - Beogradska bankarska akademija – Fakultet za
      bankarstvo, osiguranje i finansije
    </p>
    <p class="pl-5 ">
      8. <span class="font-bold">prof. dr Ivana Simeunovic</span> - Beogradska bankarska akademija – Fakultet za
      bankarstvo, osiguranje i finansije
    </p>
    <p class="pl-5 ">
      9. <span class="font-bold">prof. dr Sandra Kamenkovic</span> - Beogradska bankarska akademija – Fakultet za
      bankarstvo, osiguranje i finansije
    </p>
    <p class="pl-5 ">
      10. <span class="font-bold">doc. dr Ivana Ljutic</span> - Beogradska bankarska akademija – Fakultet za bankarstvo,
      osiguranje i finansije
    </p>
    <p class="pl-5 ">
      11. <span class="font-bold">Aleksandra Minic</span> - Beogradska bankarska akademija – Fakultet za bankarstvo,
      osiguranje i finansije
    </p>
    <p class="pl-5 ">
      12. <span class="font-bold">prof. dr Bojana Dimic Surla</span> - Racunarski fakultet
    </p>
    <p class="pl-5 ">
      13. <span class="font-bold">doc. dr Nenad Malesevic</span> - Racunarski fakultet
    </p>
    <p class="pl-5 ">
      14. <span class="font-bold">doc. dr Irena Jovanovic</span> - Racunarski fakultet
    </p>
    <p class="pl-5 ">
      15. <span class="font-bold">prof. mr Milan Djuric</span> - Racunarski fakultet
    </p>
    <p class="pl-5 ">
      16. <span class="font-bold">doc. dr Milanka Gardasevic Filipovic</span> - Racunarski fakultet
    </p>
    <p class="pl-5 ">
      17. <span class="font-bold">Djurdjina Lopicic</span> - Racunarski fakultet
    </p>
    <p class="pl-5 ">
      18. <span class="font-bold">prof. dr Veljko Djuric</span> - Fakultet za pravne i poslovne studije dr Lazar Vrkatic
    </p>
    <p class="pl-5 ">
      19. <span class="font-bold">Marko Miladinovic</span> - Fakultet za pravne i poslovne studije dr Lazar Vrkatic
    </p>
  </div>

</div>
