<app-overlay-image>Senat i savet Univerziteta</app-overlay-image>

<div
  class="relative container mx-auto flex flex-col justify-center items-center text-left m-5 p-10 lg:p-16 shadow-2xl font-poppins font-normal"
  style="color:#5e709d;background: rgb(235, 244, 253);
       background: linear-gradient(190deg,rgba(235, 244, 253, 1) 0%,rgba(255, 255, 255, 0) 45%);
       border-right: 13px solid #42b983; border-radius: 20px;
       ">

  <div class="absolute top-0 left-0 opacity-10">
    <img src="./assets/svg/triangle.svg" alt="">
  </div>

  <div class="m-1 p-1">
    <h1 class="font-bold text-2xl mx-3 mb-5">Senat univerziteta</h1>
    <p class="pl-5">
      1. <span class="text-lg font-bold">prof. dr Gordana Vukelic</span> - Univerzitet Union, rektor i predsednik Senata
    </p>
    <p class="pl-5">
      2. <span class="text-lg font-bold">prof. dr Nebojsa Sarkic</span> - Pravni Fakultet Univerziteta Union, dekan
    </p>
    <p class="pl-5">
      3. <span class="text-lg font-bold">prof. dr Stevan Milinkovic</span> - Racunarski fakultet, dekan
    </p>
    <p class="pl-5">
      4. <span class="text-lg font-bold">prof. dr Dejan Eric</span> - Beogradska bankarska akademija - Fakultet za
      bankarstvo,
      osiguranje i
      finansije, dekan
    </p>
    <p class="pl-5">
      5. <span class="text-lg font-bold">prof. dr Mirjana Francesko</span> - Fakultet za pravne i
      poslovne studide dr Lazar
      Vrkatic, dekan
    </p>
    <h1 class="font-bold text-2xl mx-3 mt-9 mb-5">Savet univerziteta</h1>
    <p class="pl-5">
      1. <span class="text-lg font-bold">dr <span></span> Slobodan Vukadinovic</span> - predsednik Saveta, Pravni
      fakultet
      Univerziteta Union
    </p>
    <p class="pl-5">
      2. <span class="text-lg font-bold">doc. dr <span></span> Dusan Vujosevic</span> - zamenik predsednika Saveta,
      Racunarski
      fakultet
    </p>
    <p class="pl-5">
      3. <span class="text-lg font-bold">prof. dr <span></span> Jelena Jerinic</span> - Pravni fakultet Univerziteta
      Union
    </p>
    <p class="pl-5">
      4. <span class="text-lg font-bold">Goran Celic</span> - Pravni fakultet Univerziteta Union
    </p>
    <p class="pl-5">
      5. <span class="text-lg font-bold">Ivana Ilic</span> - Pravni fakultet Univerziteta Union
    </p>
    <p class="pl-5">
      6. <span class="text-lg font-bold">Suzana Obradovic</span> - Pravni fakultet Univerziteta Union
    </p>
    <p class="pl-5">
      7. <span class="text-lg font-bold">prof. dr <span></span> Branko Zivanovic</span> - Beogradska bankarska akademija
      –
      Fakultet za
      bankarstvo, osiguranje i finansije
    </p>
    <p class="pl-5">
      8. <span class="text-lg font-bold">prof. dr <span></span> Ivana Simeunovic</span> - Beogradska bankarska akademija
      –
      Fakultet za
      bankarstvo, osiguranje i finansije
    </p>
    <p class="pl-5">
      9. <span class="text-lg font-bold">prof. dr <span></span> Sandra Kamenkovic</span> - Beogradska bankarska
      akademija –
      Fakultet za
      bankarstvo, osiguranje i finansije
    </p>
    <p class="pl-5">
      10. <span class="text-lg font-bold">doc. dr <span></span> Ivana Ljutic</span> - Beogradska bankarska akademija –
      Fakultet
      za bankarstvo,
      osiguranje i finansije
    </p>
    <p class="pl-5">
      11. <span class="text-lg font-bold">Aleksandra Minic</span> - Beogradska bankarska akademija – Fakultet za
      bankarstvo,
      osiguranje i finansije
    </p>
    <p class="pl-5">
      12. <span class="text-lg font-bold">prof. dr <span></span> Bojana Dimic Surla</span> - Racunarski fakultet
    </p>
    <p class="pl-5">
      13. <span class="text-lg font-bold">doc. dr <span></span> Nenad Malesevic</span> - Racunarski fakultet
    </p>
    <p class="pl-5">
      14. <span class="text-lg font-bold">doc. dr <span></span> Irena Jovanovic</span> - Racunarski fakultet
    </p>
    <p class="pl-5">
      15. <span class="text-lg font-bold">prof. mr <span></span> Milan Djuric</span> - Racunarski fakultet
    </p>
    <p class="pl-5">
      16. <span class="text-lg font-bold">doc. dr <span></span> Milanka Gardasevic Filipovic</span> - Racunarski
      fakultet
    </p>
    <p class="pl-5">
      17. <span class="text-lg font-bold">Djurdjina Lopicic</span> - Racunarski fakultet
    </p>
    <p class="pl-5">
      18. <span class="text-lg font-bold">prof. dr <span></span> Veljko Djuric</span> - Fakultet za pravne i poslovne
      studije dr
      Lazar Vrkatic
    </p>
    <p class="pl-5">
      19. <span class="text-lg font-bold">Marko Miladinovic</span> - Fakultet za pravne i poslovne studije dr Lazar
      Vrkatic
    </p>
  </div>

</div>
