<app-overlay-image>Istorijat</app-overlay-image>

<div class="relative container mx-auto text-left m-5 p-10 lg:p-16 shadow-2xl font-poppins font-normal"
     style="color:#5e709d;background: rgb(235, 244, 253);
       background: linear-gradient(190deg,rgba(235, 244, 253, 1) 0%,rgba(255, 255, 255, 0) 45%);
       border-right: 13px solid #42b983; border-radius: 20px;
       ">

  <div class="absolute top-0 left-0 opacity-10">
    <img src="./assets/svg/triangle.svg" alt="">
  </div>

  <p class="m-1 p-2">
    <span class="font-bold text-2xl">Univerzitet Union</span> osnovan je 2005. godine.
  </p>
  <p class="m-1 p-2">
    Osnovala su ga tri fakulteta, i to: Fakultet za graditeljski menadzment,
    Fakultet za dizajn i Fakultet za industrijski menadzment (kasnije: Fakultet za poslovno industrijski
    menadzment).
  </p>
  <p class="m-1 p-2">
    Kasnije su pristupili kao suosnivaci Univerziteta: Beogradska bankarska akademija – Fakultet za bankarstvo,
    osiguranje i finansije, Pravni fakultet Univerziteta Union (ranije: Fakultet za poslovno pravo), Racunarski
    fakultet, Fakultet za menadzment nekretnina, Fakultet za preduzetnicki biznis i Visa skola za ekoloski
    inzenjering.
  </p>
  <p class="m-1 p-2">
    U martu 2010. godine iz sastava Univerziteta istupaju: Fakultet za graditeljski menadzment, Fakultet za menadzment
    nekretnina, Fakultet za preduzetnicki biznis i Visa skola za ekoloski inzenjering.
  </p>
  <p class="m-1 p-2">
    Nakon gasenja Fakulteta za dizajn, 2011. godine, Univerzitet Union cine: Fakultet za industrijski menadzment,
    Beogradska
    bankarska akademija – Fakultet za bankarstvo, osiguranje i finansije, Racunarski fakultet i Pravni fakultet
    Univerziteta Union.
    <br>
    Medjutim, vec sledece godine, Univerzitetu pristupa (tada) Fakultet scenskih i primenjenih
    umetnosti – Akademija lepih umpetnost (danas, Fakultet savremene umetnosti) a ubrzo zatim, u leto 2013. godine i
    Fakultet za pravne i poslovne studije dr Lazar Vrkatic. U aprilu 2015. godine Fakultet za poslovno industrijski
    menadzment istupa iz sastava Univerziteta Union, a u septembru 2017. godine to cini i Akademija lepih umetnosti
    (danas, Fakultet savremene umetnosti), tako da Univerzitet danas cine cetiri fakulteta.
  </p>

  <p class="m-1 p-2">
    Sediste Univerziteta je u Beogradu, u ul. Kosancicev venac br 2/5 u istorijskom delu Beograda.
  </p>

  <p class="m-1 p-2">
    Univerzitet obavlja delatnost visokog obrazovanja u cetiri polja, i to u poljima: prirodno-matematickih nauka,
    drustveno-humanistickih nauka, tehnicko-tehnoloskih nauka i u polju umetnosti.
  </p>
  <p class="m-1 p-2">
    Svi studijski programi u okviru navedenih polja ostvaruju se na fakultetima – clanovima Univerziteta. Studijski
    programi ostvaruju se u sva tri nivoa akademskih studija.
    Svi fakulteti ostvaruju studijske programe u skladu sa Bolonjskom deklaracijom.
  </p>
  <p class="m-1 p-2">
    Kao zajednica visokoskolskih ustanova Univerzitet omogucava razmenu znanja i iskustava u razlicitim
    obrazovno-naucnim poljima. Cilj obavljanja delatnosti Univerziteta je omogucavanje zakonitog i uspesnog
    funkcionisanja fakulteta u njegovom sastavu na tradicijama i vrednostima Republike Srbije i Evrope, a narocito
    obrazovanje podmladka u skladu sa izrazenom namerom Srbije da se prikljuci Evropskoj uniji i prihvati kompleks
    evropskih vrednosti – acquis communautaire, vladavinu prava i posreduje savremene rezultate nauke. Univerzitet
    saradjuje i sa vanevropskim univerzitetima i otvoren je za svaku saradnju u oblasti obrazovanja i nauke na
    principima ravnopravnosti, uzajamnog postovanja i objektivnosti.
  </p>
  <p class="m-1 p-2">
    U reformi obrazovanja i procesu stabilizacije i pridruzivanja EU Univerzitet nastoji da ostvari sto visi kvalitet
    obrazovanja studenata kao subjekata obrazovnog procesa. U tom cilju Univerzitet nastoji da formulise moderne
    studijske programe, da obezbedi kvalitetan nastavnicki kadar i da uz visoko postovanje studenata kao ravnopravnih
    saradnika u istom poslu, postavi visoke zahteve kvalitetnog obrazovanja.
  </p>
  <p class="m-1 p-2">
    Univerzitet je kvalitetan onoliko koliko su koliko su njegovi svrseni studenti dobri strucnjaci i posteni
    gradjani.
    Ovo je privatan univerzitet, ne finansira se iz budzeta i ne moze da opstane ako ne radi dobro.
    Vreme mahanja diplomama je proslo. Zelimo strucnjaka kome nece biti tesko da svakoga dana odbrani svoje zvanje.
  </p>
  <div class="m-1 p-2 text-center">
    <p class="font-bold text-lg">
      Univerzitetom rukovode:
    </p>
    <p>
      Rektor: Prof. Dr Gordana Vukelic
    </p>
    <p>
      Prorektor: Prof. Dr Ljubomir Lazic
    </p>
    <div>
      <p class="font-bold text-lg">
        Predsednik Saveta Univerziteta:
      </p>
      <p>Doc. Dr Slobodan Vukadinovic</p>
    </div>
    <div>
      <p class="font-bold text-lg">
        Zamenik predsednika Saveta Univerziteta:
      </p>
      <p>Prof. Dr Dusan Vujosevic</p>
    </div>

  </div>
</div>
