<app-overlay-image>Rektor Univerziteta</app-overlay-image>

<div class="container mx-auto flex flex-col lg:flex-row justify-center items-center m-5 p-5 shadow-2xl"
     style="border: 1px solid #ebebeb">

  <img src="assets/about-us/gordana_vukelic.jpg" alt="">

  <div class="m-5">
    <p class="m-1 p-1 italic">
      <span class="font-bold">Gordana Vukelic</span> u periodu od 1983 do 1991. godine izabrana je za asistenta
      pripravnika za predmet Teorija i analiza bilansa, Katedra teorije troskova, racunovodstva i finansija, Instituta
      za Agroekonomiju, Poljoprivredni fakultet, Univerziteta u Beogradu.
    </p>
    <p class="m-1 p-1 italic">
      U saradnickom zvanju je bila do 1991. potom je birana od 1991. do 1997. godine za asistenta, a od 1997.do 2001.
      godine izabrana je za docenta.
    </p>
    <p class="m-1 p-1 italic">
      Tokom 2001. godine birana je u zvanje vanrednog profesora, a 2007. godine za redovnog profesora na Katedri teorije
      troskova, racunovodstva i finansija, Instituta za Agroekonomiju, Poljoprivrednog fakulteta, Univerziteta u
      Beogradu.
    </p>
    <p class="m-1 p-1 italic">
      Zaposlenjem 2008. godine prelazi na Beogradsku bankarsku akademiju, Fakultet za bankarstvo, osiguranje i finansije
      (uza naucna oblast Ekonomija i finansije), gde izvodi nastavu i obavlja sve ostale nastavne aktivnosti na osnovnim
      i master studijama.
    </p>
  </div>

</div>
