// ================== IMPORTS ==================
// Tailwind
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* Ag grid */
@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css";
// ================== IMPORTS ==================

html {
  height: 101%;
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.ag-header-cell {
  // or write CSS selectors to make customisations beyond what the parameters support
  border-right: 1px solid #d4d4d4cb;
}

div.nice {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 10%,
    rgba(227, 227, 227, 1) 50%,
    rgba(255, 255, 255, 1) 90%
  );
  height: 1px;
}

mat-icon {
  height: 24px !important;
  width: 18px !important;
}

.wrapper {
  padding-top: 65px;
}

// Header -----------------------
.mat-menu-content:not(:empty) {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

// Toolbar -----------------------
mat-toolbar {
  // !important
  height: 65px !important;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 3px -2px rgba(0, 0, 0, 0.14),
    0 1px 8px 0 rgba(0, 0, 0, 0.12) !important;
  background: rgb(28, 27, 126) !important;
  background: -moz-linear-gradient(
    90deg,
    rgba(28, 27, 126, 1) 30%,
    rgba(140, 75, 255, 1) 100%
  ) !important;
  background: -webkit-linear-gradient(
    90deg,
    rgba(28, 27, 126, 1) 30%,
    rgba(140, 75, 255, 1) 100%
  ) !important;
  background: linear-gradient(
    90deg,
    rgba(28, 27, 126, 1) 30%,
    rgba(140, 75, 255, 1) 100%
  ) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1c1b7e", endColorstr="#8c4bff", GradientType=1) !important;

  & .hamburger {
    mat-icon {
      color: #fff !important;
    }
  }

  & .header_list_wrap {
    & a,
    & .dropdownWrap {
      //color: #B0B0B0;
      //color: black;
      position: relative;
      color: white !important;
      font-size: 15px;
      cursor: pointer;
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      &:hover {
        color: #fde895 !important;
        transition: 0.9s;
      }

      &:after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%) scaleX(0);
        -webkit-transform: translateX(-50%) scaleX(0);
        transform-origin: 50% 50%;
        -webkit-transform-origin: 50% 50%;
        width: 100%;
        height: 2px !important;
        background-color: #fde895 !important;
        transition: transform 250ms;
        -webkit-transition: transform 250ms;
      }

      &:hover:after {
        transform: translateX(-50%) scaleX(1);
        -webkit-transform: translateX(-50%) scaleX(1);
      }

      &.active {
        color: #fde895 !important;

        .underline {
          position: absolute;
          left: 0;
          bottom: 0;
          right: 0;
          width: 100%;
          height: 2px !important;
          background-color: #fde895 !important;
        }
      }
    }
  }
}

/* Hero */

.assetWrapper {
  z-index: 0;
  position: relative;
  margin-bottom: -70px;
  perspective: 1000px;
}

.assetWrapper.browserWindowContainer {
  z-index: 1;
  position: relative;
  width: 118%;
  margin-top: 75px;
  margin-left: -12%;
  margin-bottom: -45%;
  overflow: hidden;
}

.browserWindow {
  width: 100%;
}

.ratio {
  position: relative;
  width: 100%;
}

.lottieWrapper {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// Footer

.footer_link_wrap li a {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: white;
    color: white;
  }
}
