<app-navigation>

  <div style="background-color: #1C1B7E;">

    <div class="relative z-10 g-full w-full">

      <section class="relative w-full bg-blue-1000" style="margin-bottom: 100px">

        <div class="z-0 absolute w-full left-2/4 transform -translate-x-2/4 h-full">
          <div class="z-0 absolute top-0 right-0 w-11/12 max-w-screen-lg">
            <div class="relative w-full" style="padding-bottom: 100%">
              <img
                class="opacity-100 absolute top-0 left-0 w-full h-6/6 object-center object-cover"
                src="./assets/svg/drawing_top_right.svg"
                alt=""
              />
            </div>
          </div>

          <div
            class="z-0 block absolute bottom-0 left-0 w-11/12"
            style="max-width: 180px"
          >
            <div class="relative w-full" style="padding-bottom: 100%">
              <img
                class="opacity-100 absolute top-0 left-0 w-full h-full object-center object-cover"
                src="./assets/svg/drawing_bottom_left.svg"
                alt=""
              />
            </div>
          </div>
        </div>

        <div
          class="z-10 relative w-5/5 max-w-screen-lg ml-auto mr-auto pt-24 lg:pt-48"
          style="padding-bottom: 180px"
        >
          <div class="w-4/5 max-w-screen-md relative ml-auto mr-auto">
            <div class="opacity-100 w-full">
              <div class="text-white">
                <h1
                  class="max-w-full text-5xl font-extrabold tracking-wide text-left mb-8"
                >
                  Lorem ipsum dolor<br/>
                  sit amet vero optio.
                </h1>
                <p
                  class="max-w-full w-12/12 md:w-8/12 text-lg font-normal text-left mb-10"
                >
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. At
                  aperiam optio eos expedita.
                </p>
                <ul
                  class="flex flex-col lg:flex-row lg:justify-start lg:flex-initial list-none relative mb-10 z-10"
                >
                  <li
                    class="my-2 lg:mr-8 flex justify-center text-center md:justify-start"
                  >
                    <a
                      class="border border-purple-1000 w-full md:w-auto rounded-lg inline-block px-10 py-3 bg-purple-1000 text-white text-base font-medium"
                      href="javascript:;"
                      id="home_button_1"
                    >Lorem ipsum</a
                    >
                  </li>
                  <li class="my-2 flex justify-center text-center md:justify-start">
                    <a
                      class="border border-yellow-1000 w-full md:w-auto rounded-lg px-10 py-3 bg-yellow-1000 text-blue-1000 text-base font-medium"
                      href="javascript:;"
                      id="home_button_2"
                    >Lorem ipsum dolor</a
                    >
                  </li>
                </ul>
              </div>
            </div>

            <div class="assetWrapper">
              <div class="assetWrapper browserWindowContainer">
                <div class="browserWindow">
                  <div class="ratio" style="padding-bottom: 80%">
                    <figure class="lottieWrapper">
                      <img src="/assets/svg/hero_main.svg" alt=""/>
                    </figure>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </section>

    </div>

  </div>

  <div class="flex flex-row flex-wrap justify-center items-center relative z-10 mt-10">

    <a href="javascript:;" class="inline-block max-w-xs px-4 py-8 sm:px-12">
      <img
        class="w-auto"
        src="/assets/svg/bba.svg"
        alt="Beogradska bankarska akademija"
      />
    </a>
    <a href="javascript:;" class="inline-block max-w-xs px-4 py-8 sm:p-12">
      <img class="w-auto" src="/assets/svg/raf.svg" alt="Racunarski fakultet"/>
    </a>
    <a href="javascript:;" class="inline-block max-w-xs px-4 py-8 sm:p-12">
      <img
        class="w-auto"
        src="/assets/svg/lazar_vrkatic.svg"
        alt="Fakultet dr. Lazar Vrkatic"
      />
    </a>
    <a href="javascript:;" class="inline-block max-w-xs px-4 py-8 sm:p-12">
      <img
        class="w-auto"
        src="/assets/svg/pravni_fakultet.svg"
        alt="Pravni fakultet Univerziteta UNION"
      />
    </a>

  </div>

  <app-footer [isLogoDark]="false"></app-footer>

</app-navigation>


